<h1><%= @division.title() %></h1>

<% if @employees.any?() %>
  <h3>Here are all the employees in this division:</h3>

  <ul>
    <% @employees.each() do |employee| %>
      <li><%= employee.name %> <a href="/employee/<%= employee.id() %>"></a></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no employees in this department!</p>
<% end %>

<form action="/division/<%= @division.id() %>/employee" method="post">
  <input id="division_id" name="division_id" type="hidden" value="<%= @division_id %>">
  <label for="name">Employee Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Employee</button>
</form>


<p>What would you like to do today?</p>
<form action="/division/<%= @division.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="title">Rename your division:</label>
  <input id="title" name="title" type="text">

  <button type="submit">Update</button>
</form>

<p>
<form action="/division/<%= @division.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete this Division</button>
</form>
</p>
